<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="EndPointUrl" value="https://anhoh-westus.documents.azure.com:443/" />
    <add key="AuthorizationKey" value="scADAI3hp1Jq0Gd9Fi4IhrRRr/cSpfFcqeLbv7c9vDVFbV6vMTaWanF76qdUkJpaAHnt7nVbO4DYfZqmJE5nKA==" />
    <!--
    <add key="EndPointUrl" value="~your DocumentDB endpoint here~" />
    <add key="AuthorizationKey" value="~your auth key here~" />
    -->
  </appSettings>
</configuration>
